body {
    padding-top: 30px;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: normal;
    color: #333;
    font-size: 1.75em;
    background: #fff;
  }
  
  #profile-picture {
    width: 200px;
    padding: 15px 0;
    margin: 0 auto 0px;
    border-radius: 20%;
  }
  
  .btn {
    background: #829aa8;
    border: solid 1px #829aa8;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5%;
  }
  .btn:hover {
    background: #e8e8e8;
    color: #829aa8;
  }
  
  ol {
    display: table;
    margin:0 auto;
    text-align: left;
  }